/*      INICIO BASE       */
/* ###################### */

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black
}

body {
    font-family: arial;
}
 /* ##################### */
/*      FINAL BASE       */


/*      INICIO FOTOS       */
/* ###################### */

.foto_contato {
    text-align: center;
}

.contato {
    background-color: #003188;
    width: 50%; /* Largura da imagem relativa ao seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto;
}

.texto_contato {
    padding: none;
    margin: 0%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    height: 50vh; /* Faz o contêiner ocupar toda a altura da tela */
}

.texto_contato h1{
    color: #010d22;
    font-size: 30px;
    text-decoration: underline;
}

p{
    color: #010d22;
    font-size: 30px;
    text-decoration: underline;
}

/* ##################### */
/*      FINAL FOTOS      */