 /*      INICIO BASE       */
/* ###################### */
*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black
}

body {
    font-family: arial;
}

img{
    width: 40px;
    z-index: 2000;
}

 /* ##################### */
/*      FINAL BASE       */

 /*      INICIO DA CAPA BRASIL       */
/* ################################ */

.capa{
    background-color: #003188;
    width: 100%;
    display: block;
    margin: 0 auto;  
}

.titulo_brasil{
    background-color: #003188;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px 0;
}

.project-text {
    margin: 0 10px;
    font-size: 100px;
    color: #238800;
    font-weight: bold;
}

.hr1, .hr2{
    flex: 1;
    border: 0;
    height: 50px;
    background-color: #238800;
}

.box_br{
    display: flex;
    justify-content: space-between;
}

.espaço{
    width: 10%; /* Ajuste conforme necessário */
    box-sizing: border-box;
}

/*     INICIO  TEXTO BRASIL      */
.texto_br{
    width: 100%;
    color:rgb(255, 255, 255);
}

.texto_br h1{
    background-color: #003188;
    padding: 50px;
    font-size: 20px;
    text-align: justify;
    align-content: center;
}
/*     FINAL TEXTO BRASIL      */

 /* ########################### */
/*      FINAL CAPA BRASIL      */




/*     INICIO QUIXERAMOBIM       */
 /* ########################### */
iframe{
    display: flex;
    margin: 0% auto;
}
.capa_qx img{    
    width: 100%;
    display: block;
    margin: 0 auto;  
}

.titulo_qx{
    background-color: #003188;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px 0;
}

.project-text1 {
    margin: 0 10px;
    font-size: 75px;
    color: #ffffff;
    font-weight: bold;
}

.titulo_qx hr{
    flex: 1;
    border: 0;
    height: 20px;
    background-color: #ffffff;
}

.box_qx{
    display: flex;
    justify-content: space-between;
}

.espaço{
    width: 10%; /* Ajuste conforme necessário */
    box-sizing: border-box;
}

/*     INICIO  TEXTO  QUIXERAMOBIM    */
.texto_qx{
    width: 100%;
    color:rgb(255, 255, 255);
}

.texto_qx h1{
    background-color: #003188;
    padding: 50px;
    font-size: 20px;
    text-align: justify;
    align-content: center;
}
 /* ############################ */
/*      FINAL QUEXERAMOBIM      */


  /*        INICIO MISSAO         */
 /* ############################ */

 .missionario h1{
    color: #003188;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    width: 100%;
    height: 100%;
    margin: 0px 0;
    text-decoration: underline;
 }

 .foto_miss {
    width: 40%;
    display: block;
    margin: 0 auto;
 }

 .missionario h2{
    background-color: #003188;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    width: 100%;
    height: 100%;
    margin: 0px 0;
 }

 .missionario br{
    background-color: #003188;
 }

 /* ############################ */
/*       FINAL DA MISSÃO        */




 /*      INICIO DA MAPA     */
/* ######################## */




 /* ############################ */
/*         FINAL DO MAPA        */




 /*      INICIO DA FOTO     */
/* ######################## */
.foto {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.foto div {
    flex: 1;
}

.texto_batismo{
    color: #003188;
    text-align: center;

}

.texto_comida{
    color: #003188;
    text-align: center;

}

.texto_igreja{
    color: #003188;
    text-align: center;

}

.batismo {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
    
}

.batismo1 {
    width: 75%;
    cursor: pointer;
    transition: transform 0.2s;
}

.batismo:hover, .batismo1:hover {
    transform: scale(1.1);
}

.foto_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.foto_1 div {
    flex: 1;
}

.comida {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.comida:hover {
    transform: scale(1.1);
}

.foto_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.foto_2 div {
    flex: 1;
}

.choro_limao {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.choro_limao:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.linha{
    flex: 1;
    border: 0;
    height: 50px;
    background-color: #003188;
}

 /* ############################ */
/*          FINAL FOTOS         */