/*      INICIO BASE       */
/* ###################### */

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black
}

body {
    font-family: arial;
}
 /* ##################### */
/*      FINAL BASE       */


/*      INICIO DO MENU LATERAL CABEÇALHO       */
/* ######################################### */
ul {
list-style: none;
}

img{
    width: 40px;
    z-index: 2000;
}

input[type="checkbox"]
{
    display: none;
}

nav{
    background-color: #003188;
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    z-index: 1000;
}

input[type="checkbox"]:checked ~nav
{
    transform: translateX(350px);
}
ul{
    text-align: left;
    top: 70px;
    position: absolute;
    width: 100%;
}
/* 
a{    
    display: block;
    padding: 20px 5px;
    color: white;
}

a:hover {
    background-color: white ;
    color: rgb(168, 19, 19);
} */

label{
    padding: 10px;
    top: 10px;
    position: absolute;
    z-index: 2000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003188;
    color: #fff;
    padding: 20px;    
}

.menu {
    display: none; /* Inicialmente oculto */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu :hover{
    color: #003188;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu a{    
    display: block;
    padding: 20px 5px;
    color: white;
}

.menu a:hover {
    background-color: white ;
    color:#003188;
}

#chec:checked + label + .menu {
    display: block; /* Mostrar quando o checkbox estiver marcado */
}

 /* ####################################### */
/*      FINAL MENU LATERAL CABEÇALHO       */

